= link_to "Neue Zutat", new_backyard_ingredient_path, class: "button is-primary"
%table.table.is-fullwidth.is-hoverable.is-striped
  %thead
    %tr
      %th Name
      %th	Funktionen

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.name_plural_de
      %td= link_to "Edit", edit_backyard_ingredient_path(ingredient), class: "button is-warning is-small"
