%h1 Ingredients#index
= link_to "Neue Zutat", new_backyard_ingredient_path
%table
  %thead
    %tr
      %th Name
      %th	Funktionen

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.name_plural_de
      %td.content-end= link_to "Edit", edit_backyard_ingredient_path(ingredient)
